<!DOCTYPE html>
<html ng-app="moiElu">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# moipresident: http://ogp.me/ns/fb/moipresident#">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- build:css /app.css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap-custom.css">
    <!-- endbuild -->

    <meta property="fb:app_id" content="720373954658968" /> 
    <meta property="og:type"   content="moipresident:bill" /> 
    <meta property="og:url"    content="{{ og_url }}" /> 
    <meta property="og:title"  content="{{ texte.title | default("Moi, président - Votez vos lois") }}" /> 

    <title>{{ texte.title | default("Moi, président - Votez vos lois") }}</title>

    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
        @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
    </style>
</head>
<body ng-controller="AppCtrl">
    <div id="fb-root"></div>

    <div class="wrapper">

        <input type="checkbox" class="main-nav__checkbox" id="main-nav__checkbox" />

        <div class="header" ng-controller="NavigationCtrl">
            <div class="header__top">
                <label class="main-nav__icon" for="main-nav__checkbox">☰</label><!--
             --><h1 class="header__logo"><a href="/">Moi, président</a></h1><!--
             --><div class="header__social-widget">
                    <div id="fb-header-like" class="fb-like" data-href="http://www.moi-president.info" data-width="450" data-colorscheme="dark" data-layout="button_count" data-action="recommend" data-show-faces="true" data-send="false"></div>
                </div><!--
             --><div class="header__social-widget">
                    <a href="https://twitter.com/_moipresident" class="twitter-follow-button" data-lang="fr" data-size="medium" data-show-screen-name="false" data-show-count="false">Suivre</a>
                </div><!--
             --><ul class="main-nav">
                    <li class="main-nav__item" ng-class="navClass('home')"><a class="main-nav__link" href="/">Home</a></li>
                    <li class="main-nav__item" ng-class="navClass('a-propos')"><a class="main-nav__link" href="/a-propos">À propos</a></li>
                    <li class="main-nav__item" ng-class="navClass('user')" ng-show="user.isLogged()"><a class="main-nav__link" href="/user/{{user.id}}">Vos votes</a></li>
                </ul>
            </div>
        </div>
        <div class="content">
            <div class="content__intro" ng-show="showBigHeader()">
                <!--h2 class="content__intro-slogan">Et si vous êtiez député ?</h2-->
                <h3 class="content__intro-text">Sur ce site, votez les lois en même temps que vos députés, puis comparez les résutats&nbsp;!</h3>
                <!--ul>
                    <li>Suivez l’activité de l’Assemblée Nationale</li>
                    <li></li>
                    <li>Partagez vos choix sur face</li>
                </ul-->                        
                <img src="/img/header.jpg"/>
            </div>
            <div ng-view ng-cloak>
                {% if texte is defined %}
                    <h1>{{ texte.title }}</h1>
                    {% if texte.communique is defined %}
                        <p>{{ texte.communique }}</p>
                    {% endif %}
                {% endif %}
                {% if textes is defined %}
                    {% for texte in textes %}
                    <p><a href="/textes/{{texte.id}}">{{ texte.title }}</a></p>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
        <div class="footer">
            <p>&copy; Moi, président 2014</p>
        </div>
    </div>

    <script>var csrftoken = '{{ csrftoken }}'</script>

    <!-- build:js /app.js -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-resource/angular-resource.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/vendor/angular-animate/angular-animate.min.js"></script>
    <script src="/vendor/angularjs-cookies/cookiesModule.js"></script>

    <script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <!--script src="/vendor/raphael/raphael-min.js"></script>
    <script src="/vendor/g.raphael/min/g.raphael-min.js"></script>
    <script src="/vendor/g.raphael/min/g.pie-min.js"></script-->
    
    <script src="/vendor/moment/moment.js"></script>
    <script src="/vendor/enquire/dist/enquire.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/controllers/globalController.js"></script>
    <script src="/js/controllers/textesController.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services/socialService.js"></script>
    <script src="/js/services/userService.js"></script>
    <script src="/js/services/textesFactory.js"></script>
    <!-- endbuild -->

    <!-- Google analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-16219114-3', 'moi-president.info');
    ga('send', 'pageview');
    </script>

    <!-- UserVoice (https://www.uservoice.com/o/javascript-sdk) -->
    <script>
    UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/7hyZwQTm54oZWajHPr8lKA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

    UserVoice.push(['set', {
      accent_color: '#448dd6',
      trigger_color: 'white',
      trigger_background_color: '#448dd6'
    }]);

    UserVoice.push(['set', {
        contact_title: "Vous avez un commentaire ?",
        smartvote_enabled: false,
        screenshot_enabled: false
    }]);

    UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);
    </script>

</body>
</html>